:root {
    --border-color: #888888;
    --background-color: #EEEEEE;
    --blue-dark: #186084;
    --blue: #299ED9;
    --blue-light: #80C5E8;
    --red-dark: #B72E14;
    --red: #EB6046;
    --red-light: #F5AFA2;
    --yellow-dark: #DE9604;
    --yellow: #FCC24C;
    --yellow-light: #FEE4B0;
    --green-dark: #3B5F2D;
    --green: #66A44E;
    --green-light: #9FC98F;

}