<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${studentData.name}"></title>
    <link rel="stylesheet" href="/css/students-card.css">
    <link rel="stylesheet" href="/css/root.css">

</head>
<body>
<header class="header" th:replace="~{fragments/header-fragment :: headerFragment}"></header>
<section class="students-section">
    <h1 class="student-name" th:text="${studentData.name}"></h1>
    <div class="students-data">
        <div class="column column-one">
            <label class="field-label">Имя ученика
                <input disabled class="field-input" type="text" name="name" th:field="*{studentData.name}" placeholder="Имя ученика"/>
            </label>
            <label class="field-label">Класс
                <input disabled class="field-input" type="number" th:field="*{studentData.year}" placeholder="Класс"/>
            </label>
            <label class="field-label">Информация
                <textarea disabled class="field-input" th:field="*{studentData.info}" placeholder="Информация"></textarea>
            </label>
            <label class="field-label">Тип посещаемости
                <select disabled class="field-input" th:field="*{studentData.attendanceType}">
                    <option value="" hidden>Выбрать тип посещаемости</option>
                    <option th:each="type : ${T(main.model.entities.enums.AttendanceType).values()}" th:value="${type}"
                            th:text="${type.getDisplayValue()}"></option>
                </select>
            </label>
            <label class="field-label">Статус
                <select disabled class="field-input" th:field="*{studentData.studentStatus}">
                    <option value="" hidden>Выбрать статус</option>
                    <option th:each="status : ${T(main.model.entities.enums.StudentStatus).values()}" th:value="${status}"
                            th:text="${status.getDisplayValue()}"></option>
                </select>
            </label>
        </div>
        <div class="column column-two">
            <label class="field-label">Имя родителя
                <input disabled class="field-input" type="text" th:field="*{studentData.parentName}" placeholder="Имя родителя"/>
            </label>
            <label class="field-label">Телефон родителя
                <input disabled class="field-input" type="text" th:field="*{studentData.parentPhone}" placeholder="Телефон родителя"/>
            </label>
            <label class="field-label">Контакты
                <textarea disabled class="field-input" th:field="*{studentData.contactInfo}" placeholder="Контакты"></textarea>
            </label>
            <label class="field-label">Баланс
                <input disabled class="field-input" type="number" th:field="*{studentData.balance}" placeholder="Баланс"/>
            </label>
            <label class="field-label">Администратор
                <select disabled class="field-input" th:field="*{studentData.admin.id}">
                    <option value="0" hidden>Выбрать админа</option>
                    <option th:each="administrator : ${adminsInfo}" th:value="${administrator.id}"
                            th:text="${administrator.name}"></option>
                </select>
            </label>
        </div>
        <div class="column column-three">
            <h3 class="groups-header">Активные группы:</h3>
            <ul class="groups-list">
                <li class="groups-list-item" th:each="studentInGroup : ${studentsInGroupsInfo}" th:text="!${studentInGroup.waitingList} ? ${studentInGroup.group.subject.getDisplayValue()} + ' (' + ${studentInGroup.group.year} + ' класс)'"></li>
            </ul>
            <h3 class="groups-header">Лист ожидания:</h3>
            <ul class="groups-list">
                <li class="groups-list-item" th:each="studentInGroup : ${studentsInGroupsInfo}" th:text="${studentInGroup.waitingList} ? ${studentInGroup.group.subject.getDisplayValue()} + ' (' + ${studentInGroup.group.year} + ' класс)'"></li>
            </ul>
        </div>
        <div class="submit-container">
            <input class="button" id="delete-button" type="button" value="Удалить ученика" onclick="alert('Deletion alert')">
            <input class="button" id="edit-button" type="button" value="Редактировать данные" onclick="editStudentBtn()"/>
            <input class="button inactive" id="exit-button" type="button" value="Выйти без сохранения" onclick="exitStudentBtn()"/>
            <input class="button inactive" id="save-button" type="button" value="Сохранить изменения" onclick="saveStudentBtn()"/>
        </div>
</div>
</section>

<script src="/js/student-details.js"></script>
</body>
</html>